apiVersion: 1

datasources:
  - name: ClickHouse
    type: grafana-clickhouse-datasource
    access: proxy
    isDefault: true
    editable: false
    jsonData:
      defaultDatabase: soc
      host: clickhouse
      port: 8123
      protocol: http
      secure: false
      username: soc
      tlsSkipVerify: true
    secureJsonData:
      password: soc_local_dev_strong_password_20260129

